<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <%- include("partials/head.ejs") %>
</head>

<body>
    <h1>NASA POD</h1>
    <%- include("partials/nav.ejs") %>

    <img src=<%=img%>>
    <a href = <%=imgText %>><%=imgText %></a>
</body>
<%- include("partials/footer.ejs") %>

</html>